
body {
    margin: 0px;
    height: 2000px;
}

.elementMain {
    background: rgb(86,136,216);
    background: linear-gradient(180deg, rgba(86,136,216,1) 0%, rgba(138,75,211,1) 100%);
    margin: 0px;
    color: white;
    font-family: "Proxima Nova";
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 40px;
    height:700px ;
    transition: all 2s;
    overflow: hidden
    ;
    
    

}
.elementMainExtended {
    height:1000px ;
    transition: all 2s;

}
.promptQuestion {
    font-size: 2em;
}
.titleText {
    font-family: "Proxima Nova";
    margin: 0px;
}
.surveyInput {
    border-radius: 10px;
    border: 0px solid black;
    height: 60px;
    width: calc(100%);
    font-size: 20px;
    

}

.surveyInput:focus {
    border: 0px solid black;
    outline: none;
}

.surveyInput::placeholder {

    font-size: 20px;
    font-family: "Comfortaa";
    color: rgba(0, 0, 0, 0.332);
}
.menuIcon {
 outline: 10px white solid;;
 border-radius: 1rem;

}

.navbarCont {
    display: flex;
    justify-content: space-between;
}


.hamburgerbutton {
    background: transparent;
    border-radius: 1rem;
    /* remove either div border or button border */
    /* menuIcon = div, hamburger = svg, hamburgerbutton = button */
    border: 0px solid black;
}
rect {
    background-color: white;
}
.hamburgerbutton .top {
    fill: red
}


/* animation section! */
