* {
    font-family: "Proxima Nova";
    margin: 0px;
    user-select: none;
}
body {
    overflow: hidden;
    
}
body::-webkit-scrollbar {
    display: none;
    
}
a {
    text-decoration: none;
}
.superwrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* gap: 50px; */
    

}
.post-details {
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
}
.post-details img {
    width: 500px;
    height: 100vh;
    border-radius: 15px;
    object-fit: cover;
    background-color: black;

}
.post-details video {   
    width: 500px;
    height: 100vh;
    border-radius: 15px;
    object-fit: cover;
    background-color: black;

}




.post-preview {
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    
}

.post-preview img {
    width: 500px;
    height: 100vh;
    border-radius: 15px;
    object-fit: cover;
    background-color: black;

}
.post-preview video {
    width: 500px;
    height: 100vh;
    border-radius: 15px;
    object-fit: cover;
    background-color: black;


}

.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 10px);
    height: fit-content;
    gap: 2px;
    position: absolute;
    z-index: 2;
    bottom: 0px;

    /* border-top-right-radius: 15px ;
    border-top-left-radius: 15px; */
    border-radius: 15px;
    color: white;
    padding-left:5px ;
    padding-right: 5px;

}
.rating {
    display: flex;
    flex-direction: row;
    justify-content: left;

    

}
.title {
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    text-overflow: ellipsis;
    padding-top: 5px;
    

}
.description {
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    text-overflow: ellipsis;

}
.btnwrapper {
 display: flex;
 justify-content: center;
 align-items: center;
}
.button {
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgb(138,75,211);
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    width: 80%;
    text-align: center;

}
.timedifference {
    padding-bottom: 5px;
}   


@media (pointer: coarse), (pointer: none), (max-width: 500px) {
    .post-preview img {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        object-fit: cover;
        background-color: black;

    }
    .post-preview video {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        object-fit: cover;
        background-color: black;

    
    }
    .post-details img {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        object-fit: cover;
        background-color: black;

    }
    .post-details video {   
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        object-fit: cover;
        background-color: black;

    }
    
}