html, body {
    overflow-x: hidden;
}
body {
    margin: 0px;
    background-color:white;
    font-family: "Proxima Nova";
    scroll-behavior: smooth;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.elementMain {
    background: rgb(86,136,216);
    background: linear-gradient(180deg, rgba(86,136,216,1) 0%, rgba(138,75,211,1) 100%);
    margin: 0px;
    color: white;
    font-family: "Proxima Nova";
    border-radius: 20px;
    padding-right: 16px;
    padding-left: 16px;
    height: 220px ;
    transition: all 1s;
    overflow: hidden;
    padding-top: 16px;
    position: relative;

    
    

}
.elementMainExtended {
    height:100vh ;
    transition: all 1s;
    position: relative;


}

@media only screen and (max-width:555px) {

    body {
        margin: 0px;
        background-color:white;
        font-family: "Proxima Nova";
        scroll-behavior: smooth;
        position: relative;
        padding-left: 10px;
        padding-right: 10px; 
    }
    .elementMain {
        background: rgb(86,136,216);
        background: linear-gradient(180deg, rgba(86,136,216,1) 0%, rgba(138,75,211,1) 100%);
        margin: 0px;
        color: white;
        font-family: "Proxima Nova";
        border-radius: 20px;
        padding-right: 16px;
        padding-left: 16px;
        height: 260px ;
        transition: all 1s;
        overflow: hidden;
        padding-top: 16px;
        position: relative;
    
        
        
    
    }
    .elementMainExtended {
        height:100vh ;
        transition: all 1s;
        position: relative;
    
    
    }
    #promptQuestion {
        font-size: 5vw;
    }
}

#promptQuestion {
    font-size: 32px;
}

.titleText {
    font-style: none;
    text-decoration: none;
    font-family: "Proxima Nova";
    margin: 0px;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 16px;
    
    
}
.titleText >* {
    font-style: none;
    text-decoration: none;
    color: #9E9E9E;
    letter-spacing: 2px;
    font-family:"Proxima Nova Extrabold";
    
    
}
.formField {
    position: relative;
    
}

.surveyButton {
    width: 200px;
    height: 55px;
    background-color: white;
    color: rgba(138,75,211,1);
    border-radius: 15px;
    border: 0px solid;
    outline: none;
    font-size: 20px;
    font-weight: 800;
    font-family: "Proxima Nova";
    transition: all 0.2s;
    
}
.surveyButton:hover {
    scale: 1.05;
    transition: 0.2s all;
    outline:rgba(86,136,216,1) 3px solid;
}
.buttoncontainer {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 12px;
}
.textInput {
    border-radius: 10px;
    border: 0px solid black;
    height: 60px;
    width: calc(100%);
    font-size: 20px;
    margin-bottom: 32px;
    resize: none;
    font-family: "Proxima Nova";
    transition: all 1s;
    overflow-y: hidden;
    
}

.textInput:focus {
    border: 0px solid black;
    outline: none;

}
.textInput + label {
    position: absolute;
    top: 4px;
    left: 5px;
    transition: 0.2s all;
    font-size: large;
    color: rgba(138,75,211,1);
    font-weight: 500;
}
.textInput:focus + label {
    font-size: smaller;
    top: -20px;
    transition: 0.2s all;
    color: white;

}

.textInput:not(:placeholder-shown) + label {
    font-size: smaller;
    top: -20px;
    transition: 0.2s all;
    color: white;
}

.textInput + label.has-text {
    font-size: smaller;
    top: -20px;
    transition: 0.2s all;
}


label {
    color: black;
}

.chipscontainer {
    padding: 8px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: 1px 1px 3px 1px rgba(34, 60, 80, 0.25);
    width: fit-content;
    display: inline-block;
    margin: 8px;
    margin-top: 0px;


}
.chipscontainer > a {
    text-decoration: none;
    color: black;
    font-family: "Comfortaa";
    font-size: 14px;
}
.chatbotcaption {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: -16px
}
.chatbotcaption > p {
    margin-left: 8px;
}

.surveyInput:focus {
    border: 0px solid black;
    outline: none;
}


.navbarCont {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
    z-index: 9;
    height: 54.4px;

}
.fakeDiv {
    width: 52px;
    height: 54px;
}





.slideout-menu {
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: white;
    z-index: 10;
    transition: right 0.5s;
  }
  
  .slideout-menu.visible {
    right: 0;
    transition: right 0.5s;
    box-shadow: -100px 100px 0px 5000px rgba(34, 60, 80, 0.4);
  }

  

  .slideout-menu a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  /* Style the horizontal lines in the navbar */
  .slideout-menu hr {
    border: 0;
    height: 1px;
    background: grey;
    margin: 10px 0;
  }
   
rect {
    background-color: white;
}
.newsSection {
    
    padding-right: 16px;
    padding-left: 16px;
}

.newsCaption {
    color: #9E9E9E;
    font-family:"Proxima Nova";
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin: 0px;
    
}
/* SLIDER CSS SHIT */

/* END OF SLIDER CSS SHIT */
/* NAVBAR ANIMATION SHIT START */

/* remove either div border or button border */
/* menuIcon = div, hamburger = svg, hamburgerbutton = button */
.hamburgerbutton {
    background: transparent;
    border-radius: 1rem;
    border-radius: 10px;
    border: 0px solid white;
    cursor: pointer;
    z-index: 15;
    transform: translateZ(20px);
    left: 200000px;
    /* position: fixed; */
    position: sticky
    ;
    

}
.hamburgerbutton .line {
    transition: y 600ms ease, rotate 600ms ease,fill  600ms ease;
    transform-origin: center;

}
.hamburgerbutton[aria-expanded="true"] .line {
    y: 45px;
    rotate: 45deg;
    
}
.hamburgerbutton[aria-expanded="true"] .second {
    rotate: -45deg;
}

/* NAVBAR ANIMATION SHIT END */


.secondContent {
    
}
#lesson {
    font-family:"Proxima Nova";
    font-weight: 800;
    color: #9E9E9E;
    font-size: 28px;
    margin: 0px;
    mix-blend-mode: multiply;
}
#sched {
    font-family:"Proxima Nova";
    font-weight: 800;
    color: #9E9E9E;
    margin: 2px;
    

}
#remaining {
    font-family:"Proxima Nova";
    font-weight: 800;
    color: #9E9E9E;

}

#lessonTimeContainer {
    margin-left: 16px;
    padding: 8px;
    width:calc(100% - 48px);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 32px;
    border-radius: 16px;
    height: 56px;
    overflow: hidden;
    position: relative;
}
#lessonTimeContainer::before {
    
    
    overflow: hidden;
    content: " ";
    position: absolute;
    margin-left: -8px;
    height: 1px;
    width: calc(var(--before-width) - 48px);
    background-color: inherit;
    background-color: rgba(138,75,211,0.75);
    border-radius: 16px;
    padding: 2px;
    z-index: -9;
    /* the width of the element will be defined by both the padding and the width */
    transition: all 1s;
    bottom: 0;
    

}
.newsElement {
  height: 200px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-right: 18px;
  text-align: center;
  border-radius: 16px;
  background-color: black;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  background-image: url(placeholder.jpg);
  width: 130px;
  background-size: contain;
  position: relative;
  transition: 0.2s all;


}

.newsElement:hover {
    filter: brightness(0.8);
    transition: 0.2s all;
}
.newsCaro {
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    


}
.newsCaro a {
    filter: opacity(1);
    text-decoration: none;
}

.newsLabel {
    margin-top: 130px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 110px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    position: absolute;
    }
.newsSubLabel {
    font-size: 12px;
    text-align: left;
    margin-top: 175px;
    margin-left: 10px;


}

.newsCaro::-webkit-scrollbar {
    display: none;
  }
  footer {
    background-color: #EFEFEF;
    margin-top: 100px;
    height: 15  0px;
    flex: auto;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
.footerText {
    padding: 20px;
}
.footerSocials {
    padding: 20px;
}
.footerSocials > * {
    padding: 10px;
}


